---
layout: default
---

<div class="posts">
  <p>This post will explain a new migration : the <a href="http://vuptime.io">vuptime.io</a> one.</p>

  <p>If you don't already know vUptime, it's absolutely normal ! I decided a few days ago, to move all articles from this blog to a new one name vUptime.io.</p>

  <p><img src="/images/darkbg_200px.png" alt="vUptime.io Logo" /></p>

  <p>What does it mean ?</p>

  <ul>
  <li><a href="http://vuptime.io">vUptime.io</a> will be my new place to share technical posts with the VMware and Cloud Computing communities.</li>

  <li>The current domain (<a href="https://lri.ovh">lri.ovh</a>) will remain online to host a resume and redirections from old posts URL to new ones.</li>

  <li>By splitting both personal and technical blogs, I also hope to host blog posts from other people in a close future.</li>
  </ul>

  <p>There is still some work in progress to complete the migration, like adding HTTPS access, but if you whant to update your RSS feed, the new one will be: <a href="http://vuptime.io/feed.xml">RSS</a>.</p>

  <p>Thank you for reading.</p>
</div>

{% if paginator.total_pages > 1 %}
  <!-- Pagination links -->
  <div class="pagination">
 	<div class="prev">
    	{% if paginator.previous_page %}
    		<a href="{{ paginator.previous_page_path }}" class="previous">◀ Previous</a>
	    {% endif %}
	</div>
	<div class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</div>
	<div class="next">
    	{% if paginator.next_page %}
    		<a href="{{ paginator.next_page_path }}" class="next">Next ▶</a>
    	{% endif %}
  	</div>
  </div>
{% endif %}
