.achievements-section .container .items {
  padding-top: 0.5rem;
  border-left: 3px solid #248aaa;
  margin-top: 2em;
  margin-left: 9%;
  padding-left: 40px;
  padding-bottom: 1em;
}

.achievements-section .container .items ul li p {
  margin-bottom: 0em;
}