<div
  class="achievement-entry text-center"
>
  <div class="card mt-1">
    <div class="card">
      <a class="card-header">
        <div>
          <div class="d-flex">
            {{ if .image }}
            <img class="card-img-xs" src="{{ .image | relURL }}" alt="{{ .title }}" />
            {{ end }}
            <h5 class="card-title mb-0">{{ .title }}</h5>
          </div>
        </div>
      </a>
      <div class="card-body text-justify pt-1 pb-1">
        <p>{{ .summary | markdownify }}</p>
      </div>
    </div>
  </div>
</div>